@font-face {
  font-family: 'Matter Regular';
  src: url(/fonts/Matter-Regular.otf);
}

@font-face {
  font-family: 'Matter SemiBold';
  src: url(/fonts/Matter-SemiBold.otf);
}

@font-face {
  font-family: 'Matter Heavy';
  src: url(/fonts/Matter-Heavy.otf);
}

@font-face {
  font-family: 'Helvetica Now Text Regular';
  src: url(/fonts/HelveticaNowText-Regular.ttf);
}

@font-face {
  font-family: 'Helvetica Now Text Medium';
  src: url(/fonts/HelveticaNowText-Medium.ttf);
}

@font-face {
  font-family: 'Helvetica Now Text Light';
  src: url(/fonts/HelveticaNowText-Light.ttf);
}

html {
  @apply scrollbar-thin scrollbar-track-white scrollbar-thumb-gray-500
}