@font-face {
  font-family: 'Matter Regular';
  src: url(/fonts/Matter-Regular.otf);
}

@font-face {
  font-family: 'Matter SemiBold';
  src: url(/fonts/Matter-SemiBold.otf);
}

@font-face {
  font-family: 'Matter Heavy';
  src: url(/fonts/Matter-Heavy.otf);
}

html {
  @apply scrollbar-thin scrollbar-track-white/10 scrollbar-thumb-gray-500
}

.macbook {
  -webkit-mask-image: url(/images/macbook/macbook-mask.png);
  -webkit-mask-size: 100%;
}

.screen {
  -webkit-mask-image: url(/images/macbook/screen-mask.png);
  -webkit-mask-size: 100%;
}