---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Projects from '../components/Projects.astro';
import Services from '../components/Services.astro';
import '../styles/global.css';
---

<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>Gabriel Silva — Desenvolvedor</title>
  </head>

  <body>
    <main class='relative flex flex-col items-center w-screen sm:w-full overflow-hidden h-full min-h-screen bg-[#0b0b0f]'>
      <Header />
      <Presentation />
      <Services />
      <Projects />
      <About />
      <Contact />
    </main>
  </body>
</html>