---
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
import Projects from '../components/Projects.astro';
import Services from '../components/Services.jsx';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import '../styles/global.css';
---

<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>Gabriel Silva — Desenvolvedor</title>
  </head>

  <body>
    <main class='relative flex flex-col items-center w-screen h-full min-h-screen overflow-hidden sm:w-full bg-secondaryBrand selection:bg-brand'>
      <WhatsAppButton />
      <Header />
      <Presentation />
      <Services client:load />
      <Projects />
      <!-- <About /> -->
      <Contact />
    </main>
  </body>
</html>