---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Gabriel Silva — Portfólio</title>
	</head>

	<body>
		<main class="w-screen h-screen bg-black">
			<header class="text-white text-8xl font-matterSemiBold">
				Hello World
			</header>
		</main>
	</body>
</html>