---
import H1 from './typography/H1.astro';
---

<div id="about" class='h-full w-full flex justify-center px-3 pt-40 pb-14 xl:pt-12 xl:pb-32'>
  <div class='grid w-full max-w-6xl gap-10 md:grid-cols-2 place-content-center place-items-center md:mb-10'>
    <div class='grid gap-5'>
      <H1 text='Gabriel Silva' extraStyles='-ml-1' />
      <h3 class="text-xl font-helveticaNowTextLight -mt-5">Fundador</h3>
      <p class='text-[15px] lg:text-xl text-black/90 font-helveticaNowTextMedium'>
        Gabriel Silva, desenvolvedor de software full stack. Estuda e aplica tecnologias desde 2020,
        quando entrou no IFSP para cursar Eletroeletrônica. Antes de entrar no Instituto já programava
        arduinos, logo quando ingressou virou bolsista, fez iniciação científica na área da Indústria
        4.0, onde programou Raspberry Pi para automatizar máquinas antigas. Na federal também conseguiu
        criar sua própria bolsa de estudos, com o tema Micromobilidade Elétrica. Em 2021 foi convidado
        para trabalhar em uma software house. Desde então se dedicou a resolver problemas com a
        tecnologia, principalmente por automatizar processos.
      </p>
    </div>
    <figure class="w-full flex items-center justify-end">
      <img src="images/gabriel.png" alt="Gabriel Silva" class="rounded md:rounded-[2.8rem] lg:h-[30rem] lg:w-[30rem] grayscale rotate-6 bg-black/5">
    </figure>
  </div>
</div>
