<div class='h-full xl:h-[50vh] w-full bg-brand flex justify-center px-3 pt-10 pb-3 xl:p-0'>
  <div class='grid w-full max-w-6xl gap-10 md:grid-cols-2 place-content-center place-items-center md:mb-10'>
    <div class="grid gap-5">
      <h1 class='text-3xl md:text-5xl font-matterHeavy'>Quem sou eu?</h1>
      <p class='text-[15px] lg:text-lg text-black/90 font-matterRegular text-justify'>
        Meu nome é Gabriel Silva, gosto de carros e uma boa música. Estudo e aplico tecnologias desde 2020,
        quando entrei no IFSP. Antes de entrar no Instituto eu já programava arduinos, logo quando
        ingressei virei bolsista, fiz iniciação científica na área da Indústria 4.0, onde
        programei Raspberry Pi para automatizar máquinas antigas. Na federal eu também consegui criar minha
        própria bolsa de estudos, com o tema Micromobilidade elétrica. Em 2021 fui convidado para trabalhar
        em uma software house, onde aprendi muito e conheci novas tecnologias. Desde então sou apaixonado
        por criar soluções, principalmente por automatizar processos. Acredito que a tecnologia deixa tudo
        mais legal.
      </p>
    </div>
    <div class="relative select-none xl:-mr-1 xl:-mb-5">
      <img class="mt-10 border-2 border-black brightness-110 saturate-0 rounded-3xl" src="images/drawings.png" alt="alguns dos meus desenhos de carros">
      <img class="absolute right-0 -top-8 -rotate-12 2xl:-right-44 2xl:top-0 mix-blend-darken w-44" src="images/arrow.png" alt="flecha apontando para os desenhos: também faço alguns desenhos">
    </div>
  </div>
</div>
