<h1 class='text-xl cursor-pointer select-none font-matterSemiBold'>Gabriel Silva</h1>

<script>
  (document.body.querySelector('h1') as HTMLHeadingElement).addEventListener('click', () => window.scrollTo(0, 0))
</script>