---

export interface Props {
  projects: {
    name: string,
    link?: string,
    images: {
      src: string,
      alt: string,
      extraStyles?: string
    }[]
  }[]
}

const { projects } = Astro.props;
---

<div class='relative w-full h-full rounded-xl'>
  {projects.map(project => (
    <div class='w-full h-full bg-[#171717] mySlides fade rounded-xl'>
      <div id='scroll-alert' class='absolute flex-col items-center hidden text-2xl text-white md:flex -right-16 -top-20 animate-bounce opacity-60'>
        <small class='text-sm font-matterSemiBold'>Role para ver detalhes</small>
        <button class="rotate-90">&#x2794;</button>
      </div>
      <section id='scroll-projects' class='grid w-full h-full gap-1 overflow-x-hidden overflow-y-scroll rounded-xl pb-9 place-items-center scrollbar-thin scrollbar-thumb-brand'>
        {project.images.map(image => (
          <img class={'select-none rounded-xl ' + image.extraStyles} src={image.src} alt={image.alt}>
        ))}
      </section>
      <div class='absolute bottom-0 w-full py-1 text-xl text-center text-black bg-white rounded-b-xl font-matterSemiBold backdrop-blur-sm'>
        {project.name}
        {project.link ? (
          <a class='absolute bottom-0 items-center hidden h-full gap-2 text-sm sm:flex font-matterRegular right-5' href={project?.link}>
            <img class='w-5 h-5' src='icons/externallink.svg' alt='icone de link externo'>
            Ver projeto
          </a>
        ): ''}
      </div>
    </div>
  ))}

  <div class='w-full h-full bg-[#171717] mySlides fade rounded-xl'>
    <span class='absolute text-xl text-center text-white top-1/2 left-10 font-matterSemiBold'>Em breve mais...</span>
  </div>

  <div class='text-2xl font-bold text-white select-none'>
    <button id='prev' class='hover:bg-black/80 w-min absolute top-1/2 xl:-left-20 cursor-pointer mt-[-22px] p-4 transition duration-500 ease-in'>&#10094;</button>
    <button id='next' class='hover:bg-black/80 w-min absolute top-1/2 right-0 xl:-right-20 cursor-pointer mt-[-22px] p-4 transition duration-500 ease-in'>&#10095;</button>
  </div>
</div>

<style>
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
</style>

<script>
  (document.getElementById('prev') as HTMLButtonElement).addEventListener('click', () => plusSlides(-1));
  (document.getElementById('next') as HTMLButtonElement).addEventListener('click', () => plusSlides(1));

  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n: number) {
    showSlides(slideIndex += n);
  }

  function showSlides(n: number) {
    let i;
    let slides = document.getElementsByClassName('mySlides');
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      (slides[i] as HTMLElement).style.display = 'none';
    }
    (slides[slideIndex-1] as HTMLElement).style.display = 'block';
  }
</script>