<div class="flex flex-col w-full h-20 mt-5 mb-20 text-center rounded md:h-40 md:mb-28 md:mt-20">
  <h3 class="text-[1rem] text-white md:text-3xl font-matterRegular">Empresas beneficiadas por minhas <span class="italic">soluções</span></h3>
  <section class="flex items-center justify-between">
    <img src="icons/tobrasil.png" alt="" class="w-20 transition duration-500 md:w-32 hover:grayscale-0 grayscale hover:brightness-100 brightness-150 opacity-80 hover:opacity-100" />
    <img src="icons/infinitel.png" alt="" class="w-[4.7rem] transition duration-500 md:w-28 hover:grayscale-0 grayscale hover:brightness-100 brightness-150 opacity-80 hover:opacity-100" />
    <img src="icons/tim.svg" alt="" class="w-24 transition duration-500 md:w-36 hover:grayscale-0 grayscale hover:brightness-100 brightness-200 opacity-80 hover:opacity-100" />
  </section>
</div>