---
import Paragraph from './typography/Paragraph.astro';

---

<div class="justify-center hidden w-screen h-full mb-20 md:flex">
  <section class="w-full h-full max-w-6xl px-3 text-center xl:px-0">
    <Paragraph text="Empresas beneficiadas nossas soluções" extraStyles="font-helveticaNowTextMedium" />
    <div class="w-full h-5 mt-3 border-t-2 border-x-2 border-black/10" />

    <div class="flex items-center justify-between -mt-5">
      <img src="icons/tobrasil.png" alt="" class="w-24 h-24 brightness-150 grayscale" />
      <img src="icons/infinitel.png" alt="" class="w-24 h-24 brightness-150 grayscale" />
      <img src="icons/tim.svg" alt="" class="w-24 h-24 brightness-150 grayscale" />
    </div>
  </section>
</div>