<footer class="h-full xl:h-32 w-screen bg-black flex justify-center">
  <div class="h-full w-full max-w-6xl grid px-4 py-20 xl:p-0 md:grid-cols-2 md:place-content-center gap-10 md:gap-0">
    <section>
      <p class='text-white font-helveticaNowTextLight'>"A simplicidade é o mais alto grau de sofisticação."</p>
      <small class='text-white text-sm font-matterRegular'>Leonardo da Vinci</small>
    </section>
    <section class="w-full h-full flex items-center md:justify-end">
      <strong class="text-white font-helveticaNowTextLight">&copy; {new Date().getFullYear()} gabrielsilvadev, software house.</strong>
    </section>
  </div>
</footer>