---
import Brand from './Brand.astro';
import ContactButtonHeader from './ContactButtonHeader.astro';
---

<header id='header' class='fixed top-0 z-40 flex justify-center w-full text-white transition duration-500 backdrop-blur-md'>
  <div class='flex items-center justify-between w-full h-20 px-3 max-w-7xl xl:px-0'>
    <Brand />
    <section class='flex items-center gap-10 blend'>
      <button id="projects_button_header" class='hidden font-matterSemiBold sm:inline-block after:block after:w-0 after:h-[2px] after:bg-white after:transition-[width] after:duration-300 hover:after:w-full'>Projetos</button>
      <ContactButtonHeader />
    </section>
  </div>
</header>

<script>
  const header = document.getElementById('header') as HTMLElement;
  const projectsButton = document.getElementById('projects_button_header') as HTMLButtonElement;
  const presentation = document.getElementById('presentation') as HTMLDivElement;
  const services = document.getElementById('services') as HTMLDivElement;
  const contact = document.getElementById('contact') as HTMLDivElement;

  const resetHeaderExtraStyles = 'fixed top-0 z-40 flex justify-center w-full transition duration-500 backdrop-blur-md';
  const doc = document.documentElement;

	window.onscroll = function () {
    if (doc.scrollTop <= 10) {
      header.classList.value = resetHeaderExtraStyles;
      header.classList.add('text-white');
    } else if (doc.scrollTop > 10 && doc.scrollTop <= presentation.scrollHeight) {
      header.classList.value = resetHeaderExtraStyles;
      header.classList.add('bg-black/50', 'text-white');
    } else if (doc.scrollTop <= services.scrollHeight && doc.scrollTop > presentation.scrollHeight) {
      header.classList.value = resetHeaderExtraStyles;
      header.classList.add('bg-white/50', 'text-black', 'border-b', 'border-gray-500/20');
    } else if (doc.scrollTop > presentation.scrollHeight + services.scrollHeight && doc.scrollTop < doc.scrollHeight - contact.scrollHeight) {
      header.classList.value = resetHeaderExtraStyles;
      header.classList.add('bg-black/50', 'text-white');
    } else if (doc.scrollTop >= doc.scrollHeight - contact.scrollHeight) {
      header.classList.value = resetHeaderExtraStyles;
      header.classList.add('text-white');
    }
  }

  projectsButton.addEventListener('click', () => (document.getElementById('projects') as HTMLDivElement).scrollIntoView());
</script>