---
import Brand from './Brand.astro';
import ContactButtonHeader from './ContactButtonHeader.astro';
---

<header id='header' class='fixed top-0 z-40 flex justify-center w-full text-white transition duration-500'>
  <div class='flex items-center justify-between w-full h-24 px-3 max-w-7xl xl:px-0'>
    <Brand />
    <section class='flex items-center gap-10 blend'>
      <a class='hidden font-matterSemiBold sm:inline-block after:block after:w-0 after:h-[2px] after:bg-white after:transition-[width] after:duration-300 hover:after:w-full' href='/projetos'>Projetos</a>
      <ContactButtonHeader />
    </section>
  </div>
</header>

<script>
  const header = document.getElementById('header') as HTMLElement;
  
	window.onscroll = function () {
    if (document.body.scrollTop >= 100 || document.documentElement.scrollTop >= 100) {
      header.classList.add('bg-black/80', 'backdrop-blur-md');
    } else {
      header.classList.remove('bg-black/80', 'backdrop-blur-md');
    }
  }
</script>