---
import Button from "./Button.astro";
import H1 from "./typography/H1.astro";
import Paragraph from './typography/Paragraph.astro';

---

<div class="relative flex items-center justify-center w-full h-screen sm:h-full sm:pt-40 sm:pb-24 md:pb-60">
  <img src="icons/circles2.svg" alt="" class="absolute hidden sm:block sm:w-[20rem] sm:-right-40 sm:-bottom-52 md:w-[25rem] md:-right-52 lg:-bottom-60 lg:-right-60 lg:w-[30rem]">
  <div class="sm:hidden z-0 absolute -bottom-10 -right-32 h-[15rem] w-[15rem] bg-gradient-to-br from-brand/80 to-tertiaryBrand blur-[30px] animate-spin-slow" />

  <div class="flex flex-col max-w-6xl gap-5 px-4 xl:px-0 md:grid md:grid-cols-2 md:place-content-center lg:gap-10">
    <H1 text="Seus problemas, nossas soluções." extraStyles="xl:max-w-md" />
    <div class="flex flex-col md:justify-between lg:justify-center">
      <Paragraph extraStyles="" text='Nossa missão é empoderar negócios com a transformação digital, com foco nos processos, cultura e experiência do usuário. Queremos democratizar os benefícios da tecnologia.' />
      <Button id='i_want_a_project_button' text="Falar com especialista" arrow={true} extraStyles="bg-white duration-200 text-black invert whitespace-nowrap py-3.5 px-6 mt-10 hover:invert-0 hover:bg-brand hover:ring-2 hover:ring-black" />
    </div>
  </div>
</div>

<script>
  const projectsButton = document.getElementById('i_want_a_project_button') as HTMLButtonElement;
  projectsButton.addEventListener('click', () => (document.getElementById('contact') as HTMLDivElement).scrollIntoView());
</script>