---
import Button from "./Button.astro";
import H1 from './typography/H1.astro';
---
<div
  id="presentation"
  class='grid w-full max-w-6xl min-h-screen h-full px-3 gap-14 sm:gap-10 pt-[8rem] md:pt-0 md:min-h-0 md:h-[45rem] md:grid-cols-2 xl:p-0 mb-10 md:mb-0'
>
  <div class="blur-[70px] absolute -top-20 -left-20 h-96 w-80 rounded-full lg:h-[30rem] lg:w-[50rem] bg-brand/80 lg:blur-[120px] lg:right-40 lg:-top-40"></div>
  <div class="blur-[80px] absolute -top-20 -right-20 h-[30rem] w-80 rounded-full lg:h-[30rem] lg:w-[35rem] bg-[#fff059]/90 lg:blur-[120px] lg:right-20 lg:-top-28"></div>
  
  <section class='z-20 flex flex-col items-start justify-center gap-3 text-left'>
    <small class='text-lg select-none text-black/80 font-helveticaNowText whitespace-nowrap'>Desenvolvimento de software</small>
    <H1 text="Simplificamos sua vida com tecnologia" extraStyles="text-black leading-tighter" />
    <div class='flex items-center gap-3 mt-5 select-none'>
      <Button id='contact_button_presentation' text="Entrar em contato" arrow={true} extraStyles="bg-brand duration-200 hover:bg-white hover:text-black hover:invert" />
      <Button id='projects_button_presentation' text="Ver projetos" arrow={true} extraStyles="bg-transparent duration-200 py-2.5 whitespace-nowrap lg:py-3.5 border-2 border-black hover:bg-black/10" />
    </div>
  </section>
  <section class='relative flex items-center justify-center select-none md:justify-end'>
    <img src="images/notebookmockup.png" alt="" class="lg:absolute lg:top-24 lg:-right-5">
  </section>
</div>

<script>
  import confetti from 'canvas-confetti';

	const contactButton = document.getElementById('contact_button_presentation') as HTMLElement;
  const projectsButton = document.getElementById('projects_button_presentation') as HTMLButtonElement;
  
  contactButton.addEventListener('click', () => {
    (document.getElementById('contact') as HTMLDivElement).scrollIntoView();
    setTimeout(() => confetti({ gravity: 0.5 }), 800);
  });
  projectsButton.addEventListener('click', () => (document.getElementById('projects') as HTMLDivElement).scrollIntoView());
</script>