<div
  class='grid w-full max-w-7xl h-full min-h-screen px-3 gap-14 sm:gap-10 pt-[8rem] md:pt-0 md:h-screen md:grid-cols-2 xl:p-0 mb-10 md:mb-0'
>
  <section class='flex flex-col justify-center gap-3'>
    <small class='text-sm uppercase md:text-lg text-white/50 font-matterRegular whitespace-nowrap'>Desenvolvedor Full Stack</small>
    <h1 class='text-5xl text-white sm:text-7xl font-matterHeavy'>Resolvo seus problemas usando a tecnologia</h1>
    <div class='flex items-center gap-3 mt-5'>
      <button id="contact_button_presentation" class='w-36 md:w-48 px-5 py-2.5 md:py-6 text-[1.125rem] leading-4 duration-500 bg-brand rounded-full font-matterRegular hover:bg-brand/70'>
        Entrar em contato
      </button>
      <button id="projects_button_presentation" class='w-36 md:w-48 px-5 py-4 md:py-6 text-[1.125rem] leading-4 text-brand duration-500 bg-transparent border-2 border-brand rounded-full font-matterRegular hover:bg-white/80 hover:border-white/10 hover:text-black'>
        Ver projetos
      </button>
    </div>
  </section>
  <section class='relative flex items-center justify-center md:justify-end'>
    <img class='w-full max-w-lg select-none mix-blend-lighten' src='/images/process.png' alt='' />
  </section>
</div>

<script>
  import confetti from 'canvas-confetti';

	const contactButton = document.getElementById('contact_button_presentation') as HTMLElement;
  const projectsButton = document.getElementById('projects_button_presentation') as HTMLButtonElement;
  
  contactButton.addEventListener('click', () => {
    (document.getElementById('contact') as HTMLDivElement).scrollIntoView();
    setTimeout(() => confetti({ gravity: 0.5 }), 800);
  });
  projectsButton.addEventListener('click', () => (document.getElementById('projects') as HTMLDivElement).scrollIntoView());
</script>