---
---
<div
  id="presentation"
  class='grid w-full max-w-6xl min-h-screen h-full px-3 gap-14 sm:gap-10 pt-[8rem] md:pt-0 md:min-h-0 md:h-[45rem] md:grid-cols-2 xl:p-0 mb-10 md:mb-0'
>
  <section class='flex flex-col justify-center items-center text-center md:text-left md:items-start gap-3'>
    <small class='text-sm md:text-[16px] uppercase text-white/20 font-matterSemiBold whitespace-nowrap'>Desenvolvedor Full Stack</small>
    <h1 class='text-3xl md:text-5xl text-white font-matterSemiBold leading-tighter'>Resolvo seus problemas usando a tecnologia.</h1>
    <div class='flex items-center gap-3 mt-5'>
      <button id="contact_button_presentation" class='w-32 lg:w-auto px-4 py-[0.35rem] lg:py-4 text-sm lg:text-[16px] font-matterRegular leading-4 duration-500 bg-brand rounded-full hover:bg-brand/70'>
        Entrar em contato
      </button>
      <button id="projects_button_presentation" class='w-32 lg:w-auto px-4 py-3 lg:py-3.5 text-sm lg:text-[16px] font-matterRegular leading-4 text-brand duration-500 bg-transparent border-2 border-brand rounded-full hover:bg-white/80 hover:border-white/10 hover:text-black'>
        Ver projetos
      </button>
    </div>
  </section>
  <section class='relative flex items-center justify-center md:justify-end select-none'>
    <img class='macbook w-full select-none' src='/images/macbook/macbook.jfif' alt='' />
    <img src="images/macbook/key-lights.svg" alt="" class="absolute">
    <img src="images/macbook/screen.png" alt="" class="screen absolute">
  </section>
</div>

<script>
  import confetti from 'canvas-confetti';

	const contactButton = document.getElementById('contact_button_presentation') as HTMLElement;
  const projectsButton = document.getElementById('projects_button_presentation') as HTMLButtonElement;
  
  contactButton.addEventListener('click', () => {
    (document.getElementById('contact') as HTMLDivElement).scrollIntoView();
    setTimeout(() => confetti({ gravity: 0.5 }), 800);
  });
  projectsButton.addEventListener('click', () => (document.getElementById('projects') as HTMLDivElement).scrollIntoView());
</script>