---
import Carousel from "./Carousel.astro";
---

<div id='projects' class='flex md:items-center justify-center w-full h-full min-h-screen bg-[#0b0b0f] px-3 xl:px-0'>
  <div class='flex flex-col w-full h-auto max-w-6xl gap-10'>
    <h1 class='w-full mt-20 text-3xl text-white md:mt-40 md:text-5xl font-matterSemiBold'>Projetos</h1>
    <section class="w-full h-[60vh] rounded-xl p-[0.1rem] pr-0 bg-white/10">
      <Carousel 
        projects={[
          { 
            name: 'Infinitel: site e sistema de gestão de projetos', 
            link: 'https://infinitel-telecom.com',
            images: [
              { src: 'images/infinitel/edit-project.png', alt: 'edição de projeto no sistema infinitel' },
              { src: 'images/infinitel/base.png', alt: 'tabela de projetos no sistema infinitel' },
              { src: 'images/infinitel/calendar.png', alt: 'calendário no sistema infinitel' },
              { src: 'images/infinitel/dashboard.png', alt: 'dashboard no sistema infinitel' },
              { src: 'images/infinitel/home.png', alt: 'inicio do site infinitel' },
            ]
          },
          { 
            name: 'Pholeport: gerador de relatórios fotográficos', 
            images: [
              { src: 'images/pholeport/home.png', alt: 'inicio do gerador de relatórios fotográficos', extraStyles: 'md:w-[37rem]' },
              { src: 'images/pholeport/report.png', alt: 'relatório resultante do gerador', extraStyles: 'md:w-[37rem]' },
            ]
          },
          { 
            name: 'Últimos anúncios: notificador de anúncios recentes e filtrados', 
            images: [
              { src: 'images/facebook-scraper/main.png', alt: 'bot notificando de anúncios recentes no WhatsApp', extraStyles: 'w-[20rem]' },
              { src: 'images/facebook-scraper/explanation.png', alt: 'explicação do software', extraStyles: 'w-[30rem]' },
            ]
          }
        ]}
      />
    </section>
    <!-- <CompaniesBenefited /> -->
  </div>
</div>
