<div class="w-full h-screen bg-brand flex justify-center">
  <div class="w-full max-w-7xl px-3 md:px-0">
    <section class="py-40">
      <h1 class="mb-20 -ml-2 text-4xl text-black md:mb-10 md:text-6xl font-matterHeavy">Projetos</h1>
    </section>
  </div>
</div>