---
---

<div class='flex items-center justify-center w-full h-screen bg-brand'>
  <div class='w-full h-full px-3 py-40 max-w-7xl md:px-0'>
    <h1 class='w-full text-4xl text-black md:text-6xl font-matterHeavy'>Projetos</h1>
  </div>
</div>
