<section class='w-full py-28 md:py-40 max-w-6xl'>
  <p class='text-xl font-matterSemiBold'>"A simplicidade é o mais alto grau de sofisticação."</p>
  <small class='text-sm font-matterRegular'>Leonardo da Vinci</small>
</section>
