<section class="w-full py-40 max-w-7xl">
  <p class="font-matterSemiBold text-xl">"A simplicidade é o mais alto grau de sofisticação."</p>
  <small class="font-matterRegular text-sm">Leonardo da Vinci</small>
</section>