<div class="bg-brand w-full h-24 lg:h-20 flex items-center justify-center">
  <section class="max-w-7xl p-2">
    <h1 class='w-full text-xl text-white md:text-4xl font-matterSemiBold'>Já resolvi problemas de organização, tempo, comunicação e padronização.</h1>
  </section>
</div>